name: CI
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Build
      run: |
        yarn install
        yarn build
      env:
        TEST_KEY: ${{ secrets.TEST_KEY }}
        TEST_SECRET: ${{ secrets.TEST_SECRET }}
    - name: Deploy
      uses: awb-pw/deploy-to-github-pages-action@1.1.1
      with:
        AUTHOR: damianperera
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: build